<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>PureSpectrum</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ae7977">  <td>21/03/18 19:58:46</td>   <td>0</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.ps.testcases.Feasibility@366647c2]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>21/03/18 19:59:01</td>   <td>15156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Surveys.Defaultsurvey()[pri:0, instance:com.ps.Test.Surveys@5552768b]">Defaultsurvey</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>21/03/18 19:59:32</td>   <td>46350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Surveys.Search()[pri:1, instance:com.ps.Test.Surveys@5552768b]">Search</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>21/03/18 19:59:35</td>   <td>49663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Surveys.VerifyDashboard()[pri:2, instance:com.ps.Test.Surveys@5552768b]">VerifyDashboard</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>21/03/18 19:59:39</td>   <td>52848</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Surveys.addingQuotas()[pri:3, instance:com.ps.Test.Surveys@5552768b]">addingQuotas</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>21/03/18 19:59:50</td>   <td>63819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Surveys.VerifyDashboardAAQ()[pri:4, instance:com.ps.Test.Surveys@5552768b]">VerifyDashboardAAQ</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>21/03/18 19:59:51</td>   <td>65416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Surveys.Suppliers()[pri:5, instance:com.ps.Test.Surveys@5552768b]">Suppliers</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>21/03/18 19:59:56</td>   <td>69893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Surveys.Respondentflow()[pri:6, instance:com.ps.Test.Surveys@5552768b]">Respondentflow</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>21/03/18 20:00:20</td>   <td>94427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Surveys.afterComplete()[pri:7, instance:com.ps.Test.Surveys@5552768b]">afterComplete</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="889b97">  <td>21/03/18 20:00:33</td>   <td>107436</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Surveys.priceoverride()[pri:8, instance:com.ps.Test.Surveys@5552768b]">priceoverride</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>21/03/18 20:00:46</td>   <td>120360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QBPTest.QBPSurvey()[pri:0, instance:com.ps.Test.QBPTest@2beee7ff]">QBPSurvey</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>21/03/18 20:01:04</td>   <td>138613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QBPTest.QBPSurvey()[pri:0, instance:com.ps.Test.QBPTest@2beee7ff]">QBPSurvey</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>21/03/18 20:01:23</td>   <td>157542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QBPTest.QBPSurvey()[pri:0, instance:com.ps.Test.QBPTest@2beee7ff]">QBPSurvey</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>21/03/18 20:02:06</td>   <td>200313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QBPTest.Search()[pri:1, instance:com.ps.Test.QBPTest@2beee7ff]">Search</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>21/03/18 20:02:09</td>   <td>203707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QBPTest.VerifyDashboard()[pri:2, instance:com.ps.Test.QBPTest@2beee7ff]">VerifyDashboard</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="6cf3ea">  <td>21/03/18 20:02:11</td>   <td>204931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="QBPTest.VerifyCPIoverride()[pri:3, instance:com.ps.Test.QBPTest@2beee7ff]">VerifyCPIoverride</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="cb8df7">  <td>21/03/18 20:02:32</td>   <td>226474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrafficChannels.TCCreation()[pri:1, instance:com.ps.Test.TrafficChannels@2892dae4]">TCCreation</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="cb8df7">  <td>21/03/18 20:03:07</td>   <td>261490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrafficChannels.tcchild()[pri:3, instance:com.ps.Test.TrafficChannels@2892dae4]">tcchild</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="cb8df7">  <td>21/03/18 20:03:50</td>   <td>304404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrafficChannels.verifyTC()[pri:4, instance:com.ps.Test.TrafficChannels@2892dae4]">verifyTC</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="cb8df7">  <td>21/03/18 20:04:03</td>   <td>317649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrafficChannels.TCSearch()[pri:5, instance:com.ps.Test.TrafficChannels@2892dae4]">TCSearch</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="cb8df7">  <td>21/03/18 20:04:13</td>   <td>327480</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrafficChannels.TCStatus()[pri:9, instance:com.ps.Test.TrafficChannels@2892dae4]">TCStatus</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="8bceaf">  <td>21/03/18 20:05:03</td>   <td>377117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Feasibility.feasibility()[pri:0, instance:com.ps.testcases.Feasibility@366647c2]">feasibility</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="8bceaf">  <td>21/03/18 20:05:46</td>   <td>419965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Feasibility.feasibility()[pri:0, instance:com.ps.testcases.Feasibility@366647c2]">feasibility</td> 
  <td>main@1431530910</td>   <td></td> </tr>
<tr bgcolor="ae7977">  <td>21/03/18 20:08:02</td>   <td>555822</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ps.testcases.Feasibility@366647c2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1431530910</td>   <td></td> </tr>
</table>
