<h2>Reporter output</h2><table><tr><td>All Test Execution started</td></tr>
<tr><td>Starting test is Defaultsurvey</td></tr>
<tr><td>Entered Into Login Page</td></tr>
<tr><td>Buyer Login Successfully</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Create Survey Page opened</td></tr>
<tr><td>Meta Data Entered Successfully</td></tr>
<tr><td>Survey Created Successfully</td></tr>
<tr><td>Test Passed Defaultsurvey</td></tr>
<tr><td>Starting test is Search</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Search Working Fine</td></tr>
<tr><td>Test Passed Search</td></tr>
<tr><td>Starting test is VerifyDashboard</td></tr>
<tr><td>Test Passed VerifyDashboard</td></tr>
<tr><td>Starting test is addingQuotas</td></tr>
<tr><td>Test Passed addingQuotas</td></tr>
<tr><td>Starting test is VerifyDashboardAAQ</td></tr>
<tr><td>Test Passed VerifyDashboardAAQ</td></tr>
<tr><td>Starting test is Suppliers</td></tr>
<tr><td>Supplier Found</td></tr>
<tr><td>Test Passed Suppliers</td></tr>
<tr><td>Starting test is Respondentflow</td></tr>
<tr><td>Test Passed Respondentflow</td></tr>
<tr><td>Starting test is afterComplete</td></tr>
<tr><td>Entered Into Login Page</td></tr>
<tr><td>Buyer Login Successfully</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Buyer login Successful</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Search Working Fine</td></tr>
<tr><td>Search Successful</td></tr>
<tr><td>Complete Validated</td></tr>
<tr><td>supplier selected Successful</td></tr>
<tr><td>Test Passed afterComplete</td></tr>
<tr><td>Starting test is priceoverride</td></tr>
<tr><td>Test Passed priceoverride</td></tr>
<tr><td>All test finished</td></tr>
<tr><td>All Test Execution started</td></tr>
<tr><td>Starting test is QBPSurvey</td></tr>
<tr><td>Create Survey Page opened</td></tr>
<tr><td>Meta Data Entered Successfully</td></tr>
<tr><td>Test Skipped QBPSurvey</td></tr>
<tr><td>Starting test is QBPSurvey</td></tr>
<tr><td>Create Survey Page opened</td></tr>
<tr><td>Meta Data Entered Successfully</td></tr>
<tr><td>Test Skipped QBPSurvey</td></tr>
<tr><td>Starting test is QBPSurvey</td></tr>
<tr><td>Create Survey Page opened</td></tr>
<tr><td>Meta Data Entered Successfully</td></tr>
<tr><td>Gender Census Added Successfully</td></tr>
<tr><td>Supplier Selected</td></tr>
<tr><td>Entered to Finalize and launch Page</td></tr>
<tr><td>Survey Created Successfully</td></tr>
<tr><td>Test Passed QBPSurvey</td></tr>
<tr><td>Starting test is Search</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Search Working Fine</td></tr>
<tr><td>Test Passed Search</td></tr>
<tr><td>Starting test is VerifyDashboard</td></tr>
<tr><td>Survey Dashboard Verification Started</td></tr>
<tr><td>Survey Dashboard Verified after Creating Survey</td></tr>
<tr><td>Test Passed VerifyDashboard</td></tr>
<tr><td>Starting test is VerifyCPIoverride</td></tr>
<tr><td>Started VerifyCPIoverride </td></tr>
<tr><td>Entered QBP 1 CPI Value Successfully </td></tr>
<tr><td>Entered QBP 2 CPI Value Successfully </td></tr>
<tr><td>Selected Supplier Tab </td></tr>
<tr><td>Supplier CPI Verified Successfully </td></tr>
<tr><td>Test Passed VerifyCPIoverride</td></tr>
<tr><td>All test finished</td></tr>
<tr><td>All Test Execution started</td></tr>
<tr><td>Starting test is TCCreation</td></tr>
<tr><td>Create Survey Page opened</td></tr>
<tr><td>Meta Data Entered Successfully</td></tr>
<tr><td>TC Survey Created Successfully</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Search Working Fine</td></tr>
<tr><td>Test Passed TCCreation</td></tr>
<tr><td>Starting test is tcchild</td></tr>
<tr><td>Test Passed tcchild</td></tr>
<tr><td>Starting test is verifyTC</td></tr>
<tr><td>Test Passed verifyTC</td></tr>
<tr><td>Starting test is TCSearch</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Search Working Fine</td></tr>
<tr><td>Test Passed TCSearch</td></tr>
<tr><td>Starting test is TCStatus</td></tr>
<tr><td>Entered Into Login Page</td></tr>
<tr><td>Buyer Login Successfully</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Search Working Fine</td></tr>
<tr><td>Test Passed TCStatus</td></tr>
<tr><td>All test finished</td></tr>
<tr><td>All Test Execution started</td></tr>
<tr><td>Starting test is feasibility</td></tr>
<tr><td>Test Skipped feasibility</td></tr>
<tr><td>Starting test is feasibility</td></tr>
<tr><td>Create Survey Page opened</td></tr>
<tr><td>Meta Data Entered Successfully</td></tr>
<tr><td>Gender Census Added Successfully</td></tr>
<tr><td>Gender Census Added Successfully</td></tr>
<tr><td>Test Passed feasibility</td></tr>
</table>