<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.ps.Test.HTstaging</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>VerifyHT1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>HTCreation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>VerifyafteraddingQuotas</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>SearchHT</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddingQuotas</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
