<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a82a9">  <td>21/03/18 23:57:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HTstaging.AddingQuotas()[pri:3, instance:com.ps.Test.HTstaging@45385f75]">AddingQuotas</td> 
  <td>main@1342346098</td>   <td></td> </tr>
<tr bgcolor="9a82a9">  <td>21/03/18 23:56:13</td>   <td>-97530</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HTstaging.HTCreation()[pri:0, instance:com.ps.Test.HTstaging@45385f75]">HTCreation</td> 
  <td>main@1342346098</td>   <td></td> </tr>
<tr bgcolor="9a82a9">  <td>21/03/18 23:57:03</td>   <td>-47568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HTstaging.SearchHT()[pri:1, instance:com.ps.Test.HTstaging@45385f75]">SearchHT</td> 
  <td>main@1342346098</td>   <td></td> </tr>
<tr bgcolor="9a82a9">  <td>21/03/18 23:57:34</td>   <td>-16470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HTstaging.VerifyHT1()[pri:2, instance:com.ps.Test.HTstaging@45385f75]">VerifyHT1</td> 
  <td>main@1342346098</td>   <td></td> </tr>
<tr bgcolor="9a82a9">  <td>21/03/18 23:58:07</td>   <td>16462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HTstaging.VerifyafteraddingQuotas()[pri:4, instance:com.ps.Test.HTstaging@45385f75]">VerifyafteraddingQuotas</td> 
  <td>main@1342346098</td>   <td></td> </tr>
<tr bgcolor="67a0d6">  <td>21/03/18 23:56:00</td>   <td>-109954</td> <td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.ps.Test.HTstaging@45385f75]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1342346098</td>   <td></td> </tr>
<tr bgcolor="67a0d6">  <td>21/03/18 23:58:23</td>   <td>32873</td> <td title="&lt;&lt;TestBase.tearDown()[pri:0, instance:com.ps.Test.HTstaging@45385f75]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1342346098</td>   <td></td> </tr>
</table>
