<h2>Reporter output</h2><table><tr><td>Entered Into Login Page</td></tr>
<tr><td>Buyer Login Successfully</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Create Survey Page opened</td></tr>
<tr><td>Meta Data Entered Successfully</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Buyer Login Successful</td></tr>
<tr><td>Buyer Login Successful</td></tr>
</table>